.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
.img{
    margin-top: -20px;
    margin-left: 20px;

  }
  .navbar-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    position: relative;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
  }
  .icons{
    float: right;
    
  }
  .navbar-item i {
    font-size: 18px;
    
  }
  
  .new-tag {
    color: red;
    font-size: 12px;
    margin-left: 5px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    margin: 0;
    z-index: 1000;
    min-width: 150px;
  }
  
  .dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    color: #333;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
    color: red;
  }
  .dropdown-item a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use the color of the parent element */
  }
  
  .dropdown-item a:hover {
    color: inherit; /* No color change on hover */
    background: none; /* No background change on hover */
    cursor: pointer; /* Optional: Change the cursor to pointer */
  }
  .fa{
    text-decoration: none;
    color: inherit;
    background: none;
  }
  